//General
REACT_APP_VERSION=$npm_package_version

//TestNet
REACT_APP_TESTNET_ALGOD_TOKEN=''
REACT_APP_TESTNET_ALGOD_PORT=443
REACT_APP_TESTNET_ALGOD_SERVER='https://node.testnet.algoexplorerapi.io'

REACT_APP_TESTNET_INDEXER_TOKEN=''
REACT_APP_TESTNET_INDEXER_PORT=443
REACT_APP_TESTNET_INDEXER_SERVER='https://algoindexer.testnet.algoexplorerapi.io'

//MainNet
REACT_APP_MAINNET_ALGOD_TOKEN=''
REACT_APP_MAINNET_ALGOD_PORT=443
REACT_APP_MAINNET_ALGOD_SERVER='https://node.algoexplorerapi.io'

REACT_APP_MAINNET_INDEXER_TOKEN=''
REACT_APP_MAINNET_INDEXER_PORT=443
REACT_APP_MAINNET_INDEXER_SERVER='https://algoindexer.algoexplorerapi.io'

//AlgoResInfo
REACT_APP_ALGO_RES_INFO_HOST='http://localhost:5000'

//Governance
REACT_APP_GOVERNANCE_API=https://governance.algorand.foundation

//ASA Icons
REACT_APP_ASA_ICONS_HOST='https://asa-list.tinyman.org/assets'